<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h1 class="text-center mb-3">Mohan Raj Sample POC Form</h1>
      <div class="card">
        <div class="card-header">
          Custom Email Validator
        </div>
        <div class="card-body">
          <form #form="ngForm">
            <!-- <div class="form-group">
              <label>Default Angular 4 Email vaildator</label>
              <input type="email" name="defaultEmailField" class="form-control" ngModel email aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div> -->
            <div class="form-group">
              <label for="exampleInputEmail1">Our Custom Email vaildator</label>
              <input type="email" name="customEmail" [(ngModel)]="user.emailAddress" appEmailValidator #customEmailField="ngModel" class="form-control"
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" *ngIf="!customEmailField.valid" class="form-text text-danger">Its a Invalid Email address.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Default Angular 4 Email vaildator</label>
              <input type="email" required class="form-control" placeholder="Enter email" email name="emailField" [(ngModel)]="title" #emailField="ngModel">
              <div [ngClass]="{'invalid-feedback': false}" *ngIf="emailField.invalid">
                <small id="emailHelp" *ngIf="emailField.hasError('email')" class="form-text text-danger">Its a Invalid Email address.</small>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>